<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.BaseStudentMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.BaseStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="student_code" property="studentCode" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="source" property="source" jdbcType="CHAR" />
    <result column="check_code" property="checkCode" jdbcType="CHAR" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="classes_id" property="classesId" jdbcType="INTEGER" />
    <result column="year_id" property="yearId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="is_lock" property="isLock" jdbcType="BIT" />
    <result column="is_change" property="isChange" jdbcType="BIT" />
    <result column="is_activate" property="isActivate" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lock_number" property="lockNumber" jdbcType="INTEGER" />
    <result column="lock_time" property="lockTime" jdbcType="TIMESTAMP" />
    <result column="math_number" property="mathNumber" jdbcType="INTEGER" />
    <result column="physics_number" property="physicsNumber" jdbcType="INTEGER" />
    <result column="chemistry_number" property="chemistryNumber" jdbcType="INTEGER" />
    <result column="free_time" property="freeTime" jdbcType="TIMESTAMP" />
    <result column="student_type" property="studentType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, name, student_code, password, real_name, head_pic, sex, birthday, source, check_code, 
      school_id, grade_id, classes_id, year_id, mobile, is_lock, is_change, is_activate, 
      update_time, create_time, lock_number, lock_time, math_number, physics_number, chemistry_number, 
      free_time, student_type
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.BaseStudentQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,name,student_code,password,real_name,head_pic,sex,birthday,source,check_code,school_id,grade_id,classes_id,year_id,mobile,is_lock,is_change,is_activate,update_time,create_time,lock_number,lock_time,math_number,physics_number,chemistry_number,free_time,student_type
    from base_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.BaseStudentQuery" >
    delete from base_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.BaseStudent" >
    insert into base_student (id, name, student_code, 
      password, real_name, head_pic, 
      sex, birthday, source, check_code, 
      school_id, grade_id, classes_id, 
      year_id, mobile, is_lock, is_change, 
      is_activate, update_time, create_time, 
      lock_number, lock_time, math_number, 
      physics_number, chemistry_number, free_time, 
      student_type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentCode,jdbcType=CHAR}, 
      #{password,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{sex,jdbcType=BIT}, #{birthday,jdbcType=DATE}, #{source,jdbcType=CHAR}, #{checkCode,jdbcType=CHAR}, 
      #{schoolId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, #{classesId,jdbcType=INTEGER}, 
      #{yearId,jdbcType=INTEGER}, #{mobile,jdbcType=CHAR}, #{isLock,jdbcType=BIT}, #{isChange,jdbcType=BIT}, 
      #{isActivate,jdbcType=BIT}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lockNumber,jdbcType=INTEGER}, #{lockTime,jdbcType=TIMESTAMP}, #{mathNumber,jdbcType=INTEGER}, 
      #{physicsNumber,jdbcType=INTEGER}, #{chemistryNumber,jdbcType=INTEGER}, #{freeTime,jdbcType=TIMESTAMP}, 
      #{studentType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.BaseStudent" >
    insert into base_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentCode != null" >
        student_code,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="headPic != null" >
        head_pic,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="checkCode != null" >
        check_code,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="classesId != null" >
        classes_id,
      </if>
      <if test="yearId != null" >
        year_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="isLock != null" >
        is_lock,
      </if>
      <if test="isChange != null" >
        is_change,
      </if>
      <if test="isActivate != null" >
        is_activate,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lockNumber != null" >
        lock_number,
      </if>
      <if test="lockTime != null" >
        lock_time,
      </if>
      <if test="mathNumber != null" >
        math_number,
      </if>
      <if test="physicsNumber != null" >
        physics_number,
      </if>
      <if test="chemistryNumber != null" >
        chemistry_number,
      </if>
      <if test="freeTime != null" >
        free_time,
      </if>
      <if test="studentType != null" >
        student_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentCode != null" >
        #{studentCode,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="source != null" >
        #{source,jdbcType=CHAR},
      </if>
      <if test="checkCode != null" >
        #{checkCode,jdbcType=CHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        #{classesId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null" >
        #{yearId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=BIT},
      </if>
      <if test="isChange != null" >
        #{isChange,jdbcType=BIT},
      </if>
      <if test="isActivate != null" >
        #{isActivate,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockNumber != null" >
        #{lockNumber,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null" >
        #{lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mathNumber != null" >
        #{mathNumber,jdbcType=INTEGER},
      </if>
      <if test="physicsNumber != null" >
        #{physicsNumber,jdbcType=INTEGER},
      </if>
      <if test="chemistryNumber != null" >
        #{chemistryNumber,jdbcType=INTEGER},
      </if>
      <if test="freeTime != null" >
        #{freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentType != null" >
        #{studentType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.BaseStudentQuery" resultType="java.lang.Integer" >
    select count(*) from base_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update base_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.studentCode != null" >
        student_code = #{record.studentCode,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.headPic != null" >
        head_pic = #{record.headPic,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=CHAR},
      </if>
      <if test="record.checkCode != null" >
        check_code = #{record.checkCode,jdbcType=CHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.classesId != null" >
        classes_id = #{record.classesId,jdbcType=INTEGER},
      </if>
      <if test="record.yearId != null" >
        year_id = #{record.yearId,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.isLock != null" >
        is_lock = #{record.isLock,jdbcType=BIT},
      </if>
      <if test="record.isChange != null" >
        is_change = #{record.isChange,jdbcType=BIT},
      </if>
      <if test="record.isActivate != null" >
        is_activate = #{record.isActivate,jdbcType=BIT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lockNumber != null" >
        lock_number = #{record.lockNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lockTime != null" >
        lock_time = #{record.lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mathNumber != null" >
        math_number = #{record.mathNumber,jdbcType=INTEGER},
      </if>
      <if test="record.physicsNumber != null" >
        physics_number = #{record.physicsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.chemistryNumber != null" >
        chemistry_number = #{record.chemistryNumber,jdbcType=INTEGER},
      </if>
      <if test="record.freeTime != null" >
        free_time = #{record.freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.studentType != null" >
        student_type = #{record.studentType,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update base_student
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      student_code = #{record.studentCode,jdbcType=CHAR},
      password = #{record.password,jdbcType=CHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      head_pic = #{record.headPic,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=BIT},
      birthday = #{record.birthday,jdbcType=DATE},
      source = #{record.source,jdbcType=CHAR},
      check_code = #{record.checkCode,jdbcType=CHAR},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      classes_id = #{record.classesId,jdbcType=INTEGER},
      year_id = #{record.yearId,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=CHAR},
      is_lock = #{record.isLock,jdbcType=BIT},
      is_change = #{record.isChange,jdbcType=BIT},
      is_activate = #{record.isActivate,jdbcType=BIT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      lock_number = #{record.lockNumber,jdbcType=INTEGER},
      lock_time = #{record.lockTime,jdbcType=TIMESTAMP},
      math_number = #{record.mathNumber,jdbcType=INTEGER},
      physics_number = #{record.physicsNumber,jdbcType=INTEGER},
      chemistry_number = #{record.chemistryNumber,jdbcType=INTEGER},
      free_time = #{record.freeTime,jdbcType=TIMESTAMP},
      student_type = #{record.studentType,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.BaseStudent" >
    update base_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentCode != null" >
        student_code = #{studentCode,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null" >
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="checkCode != null" >
        check_code = #{checkCode,jdbcType=CHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        classes_id = #{classesId,jdbcType=INTEGER},
      </if>
      <if test="yearId != null" >
        year_id = #{yearId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="isLock != null" >
        is_lock = #{isLock,jdbcType=BIT},
      </if>
      <if test="isChange != null" >
        is_change = #{isChange,jdbcType=BIT},
      </if>
      <if test="isActivate != null" >
        is_activate = #{isActivate,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockNumber != null" >
        lock_number = #{lockNumber,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null" >
        lock_time = #{lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mathNumber != null" >
        math_number = #{mathNumber,jdbcType=INTEGER},
      </if>
      <if test="physicsNumber != null" >
        physics_number = #{physicsNumber,jdbcType=INTEGER},
      </if>
      <if test="chemistryNumber != null" >
        chemistry_number = #{chemistryNumber,jdbcType=INTEGER},
      </if>
      <if test="freeTime != null" >
        free_time = #{freeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentType != null" >
        student_type = #{studentType,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.BaseStudent" >
    update base_student
    set name = #{name,jdbcType=VARCHAR},
      student_code = #{studentCode,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      birthday = #{birthday,jdbcType=DATE},
      source = #{source,jdbcType=CHAR},
      check_code = #{checkCode,jdbcType=CHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      classes_id = #{classesId,jdbcType=INTEGER},
      year_id = #{yearId,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=CHAR},
      is_lock = #{isLock,jdbcType=BIT},
      is_change = #{isChange,jdbcType=BIT},
      is_activate = #{isActivate,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lock_number = #{lockNumber,jdbcType=INTEGER},
      lock_time = #{lockTime,jdbcType=TIMESTAMP},
      math_number = #{mathNumber,jdbcType=INTEGER},
      physics_number = #{physicsNumber,jdbcType=INTEGER},
      chemistry_number = #{chemistryNumber,jdbcType=INTEGER},
      free_time = #{freeTime,jdbcType=TIMESTAMP},
      student_type = #{studentType,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>