<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.BaseTimuFormulaMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.BaseTimuFormula" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subjectid" property="subjectid" jdbcType="INTEGER" />
    <result column="asciimath" property="asciimath" jdbcType="VARCHAR" />
    <result column="latex" property="latex" jdbcType="VARCHAR" />
    <result column="issuccess" property="issuccess" jdbcType="INTEGER" />
    <result column="errinfo" property="errinfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, subjectid, asciimath, latex, issuccess, errinfo
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormulaQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_timu_formula
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,subjectid,asciimath,latex,issuccess,errinfo
    from base_timu_formula
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_timu_formula
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormulaQuery" >
    delete from base_timu_formula
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormula" >
    insert into base_timu_formula (id, subjectid, asciimath, 
      latex, issuccess, errinfo
      )
    values (#{id,jdbcType=INTEGER}, #{subjectid,jdbcType=INTEGER}, #{asciimath,jdbcType=VARCHAR}, 
      #{latex,jdbcType=VARCHAR}, #{issuccess,jdbcType=INTEGER}, #{errinfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormula" >
    insert into base_timu_formula
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectid != null" >
        subjectid,
      </if>
      <if test="asciimath != null" >
        asciimath,
      </if>
      <if test="latex != null" >
        latex,
      </if>
      <if test="issuccess != null" >
        issuccess,
      </if>
      <if test="errinfo != null" >
        errinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="asciimath != null" >
        #{asciimath,jdbcType=VARCHAR},
      </if>
      <if test="latex != null" >
        #{latex,jdbcType=VARCHAR},
      </if>
      <if test="issuccess != null" >
        #{issuccess,jdbcType=INTEGER},
      </if>
      <if test="errinfo != null" >
        #{errinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormulaQuery" resultType="java.lang.Integer" >
    select count(*) from base_timu_formula
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update base_timu_formula
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subjectid != null" >
        subjectid = #{record.subjectid,jdbcType=INTEGER},
      </if>
      <if test="record.asciimath != null" >
        asciimath = #{record.asciimath,jdbcType=VARCHAR},
      </if>
      <if test="record.latex != null" >
        latex = #{record.latex,jdbcType=VARCHAR},
      </if>
      <if test="record.issuccess != null" >
        issuccess = #{record.issuccess,jdbcType=INTEGER},
      </if>
      <if test="record.errinfo != null" >
        errinfo = #{record.errinfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update base_timu_formula
    set id = #{record.id,jdbcType=INTEGER},
      subjectid = #{record.subjectid,jdbcType=INTEGER},
      asciimath = #{record.asciimath,jdbcType=VARCHAR},
      latex = #{record.latex,jdbcType=VARCHAR},
      issuccess = #{record.issuccess,jdbcType=INTEGER},
      errinfo = #{record.errinfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormula" >
    update base_timu_formula
    <set >
      <if test="subjectid != null" >
        subjectid = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="asciimath != null" >
        asciimath = #{asciimath,jdbcType=VARCHAR},
      </if>
      <if test="latex != null" >
        latex = #{latex,jdbcType=VARCHAR},
      </if>
      <if test="issuccess != null" >
        issuccess = #{issuccess,jdbcType=INTEGER},
      </if>
      <if test="errinfo != null" >
        errinfo = #{errinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.BaseTimuFormula" >
    update base_timu_formula
    set subjectid = #{subjectid,jdbcType=INTEGER},
      asciimath = #{asciimath,jdbcType=VARCHAR},
      latex = #{latex,jdbcType=VARCHAR},
      issuccess = #{issuccess,jdbcType=INTEGER},
      errinfo = #{errinfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>