<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.DrPublisherMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.DrPublisher" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Identifier" property="identifier" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Area" property="area" jdbcType="VARCHAR" />
    <result column="ManagerCompany" property="managercompany" jdbcType="VARCHAR" />
    <result column="HostCompany" property="hostcompany" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
    <result column="Active" property="active" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      Id, Identifier, Name, Area, ManagerCompany, HostCompany, Type, Active
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.DrPublisherQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dr_publisher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    Id,Identifier,Name,Area,ManagerCompany,HostCompany,Type,Active
    from dr_publisher
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dr_publisher
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.DrPublisherQuery" >
    delete from dr_publisher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.DrPublisher" >
    insert into dr_publisher (Id, Identifier, Name, 
      Area, ManagerCompany, HostCompany, 
      Type, Active)
    values (#{id,jdbcType=INTEGER}, #{identifier,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{managercompany,jdbcType=VARCHAR}, #{hostcompany,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{active,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.DrPublisher" >
    insert into dr_publisher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="identifier != null" >
        Identifier,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="area != null" >
        Area,
      </if>
      <if test="managercompany != null" >
        ManagerCompany,
      </if>
      <if test="hostcompany != null" >
        HostCompany,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="active != null" >
        Active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="identifier != null" >
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="managercompany != null" >
        #{managercompany,jdbcType=VARCHAR},
      </if>
      <if test="hostcompany != null" >
        #{hostcompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.DrPublisherQuery" resultType="java.lang.Integer" >
    select count(*) from dr_publisher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dr_publisher
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.identifier != null" >
        Identifier = #{record.identifier,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        Area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.managercompany != null" >
        ManagerCompany = #{record.managercompany,jdbcType=VARCHAR},
      </if>
      <if test="record.hostcompany != null" >
        HostCompany = #{record.hostcompany,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null" >
        Active = #{record.active,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dr_publisher
    set Id = #{record.id,jdbcType=INTEGER},
      Identifier = #{record.identifier,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      Area = #{record.area,jdbcType=VARCHAR},
      ManagerCompany = #{record.managercompany,jdbcType=VARCHAR},
      HostCompany = #{record.hostcompany,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=VARCHAR},
      Active = #{record.active,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.DrPublisher" >
    update dr_publisher
    <set >
      <if test="identifier != null" >
        Identifier = #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        Area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="managercompany != null" >
        ManagerCompany = #{managercompany,jdbcType=VARCHAR},
      </if>
      <if test="hostcompany != null" >
        HostCompany = #{hostcompany,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        Active = #{active,jdbcType=TINYINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.DrPublisher" >
    update dr_publisher
    set Identifier = #{identifier,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Area = #{area,jdbcType=VARCHAR},
      ManagerCompany = #{managercompany,jdbcType=VARCHAR},
      HostCompany = #{hostcompany,jdbcType=VARCHAR},
      Type = #{type,jdbcType=VARCHAR},
      Active = #{active,jdbcType=TINYINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>