<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.FdBuildExampaperTimuMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.FdBuildExampaperTimu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="timu_type_id" property="timuTypeId" jdbcType="INTEGER" />
    <result column="timu_num" property="timuNum" jdbcType="INTEGER" />
    <result column="timu_total_num" property="timuTotalNum" jdbcType="INTEGER" />
    <result column="timu_type_name" property="timuTypeName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, timu_type_id, timu_num, timu_total_num, timu_type_name, update_time, create_time
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimuQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_build_exampaper_timu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,timu_type_id,timu_num,timu_total_num,timu_type_name,update_time,create_time
    from fd_build_exampaper_timu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_build_exampaper_timu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimuQuery" >
    delete from fd_build_exampaper_timu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimu" >
    insert into fd_build_exampaper_timu (id, timu_type_id, timu_num, 
      timu_total_num, timu_type_name, update_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{timuTypeId,jdbcType=INTEGER}, #{timuNum,jdbcType=INTEGER}, 
      #{timuTotalNum,jdbcType=INTEGER}, #{timuTypeName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimu" >
    insert into fd_build_exampaper_timu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="timuTypeId != null" >
        timu_type_id,
      </if>
      <if test="timuNum != null" >
        timu_num,
      </if>
      <if test="timuTotalNum != null" >
        timu_total_num,
      </if>
      <if test="timuTypeName != null" >
        timu_type_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="timuTypeId != null" >
        #{timuTypeId,jdbcType=INTEGER},
      </if>
      <if test="timuNum != null" >
        #{timuNum,jdbcType=INTEGER},
      </if>
      <if test="timuTotalNum != null" >
        #{timuTotalNum,jdbcType=INTEGER},
      </if>
      <if test="timuTypeName != null" >
        #{timuTypeName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimuQuery" resultType="java.lang.Integer" >
    select count(*) from fd_build_exampaper_timu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_build_exampaper_timu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.timuTypeId != null" >
        timu_type_id = #{record.timuTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.timuNum != null" >
        timu_num = #{record.timuNum,jdbcType=INTEGER},
      </if>
      <if test="record.timuTotalNum != null" >
        timu_total_num = #{record.timuTotalNum,jdbcType=INTEGER},
      </if>
      <if test="record.timuTypeName != null" >
        timu_type_name = #{record.timuTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_build_exampaper_timu
    set id = #{record.id,jdbcType=INTEGER},
      timu_type_id = #{record.timuTypeId,jdbcType=INTEGER},
      timu_num = #{record.timuNum,jdbcType=INTEGER},
      timu_total_num = #{record.timuTotalNum,jdbcType=INTEGER},
      timu_type_name = #{record.timuTypeName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimu" >
    update fd_build_exampaper_timu
    <set >
      <if test="timuTypeId != null" >
        timu_type_id = #{timuTypeId,jdbcType=INTEGER},
      </if>
      <if test="timuNum != null" >
        timu_num = #{timuNum,jdbcType=INTEGER},
      </if>
      <if test="timuTotalNum != null" >
        timu_total_num = #{timuTotalNum,jdbcType=INTEGER},
      </if>
      <if test="timuTypeName != null" >
        timu_type_name = #{timuTypeName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.FdBuildExampaperTimu" >
    update fd_build_exampaper_timu
    set timu_type_id = #{timuTypeId,jdbcType=INTEGER},
      timu_num = #{timuNum,jdbcType=INTEGER},
      timu_total_num = #{timuTotalNum,jdbcType=INTEGER},
      timu_type_name = #{timuTypeName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>