<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.FdCautionMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.FdCaution" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="search_average_min" property="searchAverageMin" jdbcType="DECIMAL" />
    <result column="search_average_max" property="searchAverageMax" jdbcType="DECIMAL" />
    <result column="correct_pro_min" property="correctProMin" jdbcType="DECIMAL" />
    <result column="correct_pro_max" property="correctProMax" jdbcType="DECIMAL" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, search_average_min, search_average_max, correct_pro_min, correct_pro_max, content
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.FdCautionQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_caution
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,search_average_min,search_average_max,correct_pro_min,correct_pro_max,content
    from fd_caution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_caution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.FdCautionQuery" >
    delete from fd_caution
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.FdCaution" >
    insert into fd_caution (id, search_average_min, search_average_max, 
      correct_pro_min, correct_pro_max, content
      )
    values (#{id,jdbcType=INTEGER}, #{searchAverageMin,jdbcType=DECIMAL}, #{searchAverageMax,jdbcType=DECIMAL}, 
      #{correctProMin,jdbcType=DECIMAL}, #{correctProMax,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.FdCaution" >
    insert into fd_caution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="searchAverageMin != null" >
        search_average_min,
      </if>
      <if test="searchAverageMax != null" >
        search_average_max,
      </if>
      <if test="correctProMin != null" >
        correct_pro_min,
      </if>
      <if test="correctProMax != null" >
        correct_pro_max,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="searchAverageMin != null" >
        #{searchAverageMin,jdbcType=DECIMAL},
      </if>
      <if test="searchAverageMax != null" >
        #{searchAverageMax,jdbcType=DECIMAL},
      </if>
      <if test="correctProMin != null" >
        #{correctProMin,jdbcType=DECIMAL},
      </if>
      <if test="correctProMax != null" >
        #{correctProMax,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.FdCautionQuery" resultType="java.lang.Integer" >
    select count(*) from fd_caution
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_caution
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.searchAverageMin != null" >
        search_average_min = #{record.searchAverageMin,jdbcType=DECIMAL},
      </if>
      <if test="record.searchAverageMax != null" >
        search_average_max = #{record.searchAverageMax,jdbcType=DECIMAL},
      </if>
      <if test="record.correctProMin != null" >
        correct_pro_min = #{record.correctProMin,jdbcType=DECIMAL},
      </if>
      <if test="record.correctProMax != null" >
        correct_pro_max = #{record.correctProMax,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_caution
    set id = #{record.id,jdbcType=INTEGER},
      search_average_min = #{record.searchAverageMin,jdbcType=DECIMAL},
      search_average_max = #{record.searchAverageMax,jdbcType=DECIMAL},
      correct_pro_min = #{record.correctProMin,jdbcType=DECIMAL},
      correct_pro_max = #{record.correctProMax,jdbcType=DECIMAL},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.FdCaution" >
    update fd_caution
    <set >
      <if test="searchAverageMin != null" >
        search_average_min = #{searchAverageMin,jdbcType=DECIMAL},
      </if>
      <if test="searchAverageMax != null" >
        search_average_max = #{searchAverageMax,jdbcType=DECIMAL},
      </if>
      <if test="correctProMin != null" >
        correct_pro_min = #{correctProMin,jdbcType=DECIMAL},
      </if>
      <if test="correctProMax != null" >
        correct_pro_max = #{correctProMax,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.FdCaution" >
    update fd_caution
    set search_average_min = #{searchAverageMin,jdbcType=DECIMAL},
      search_average_max = #{searchAverageMax,jdbcType=DECIMAL},
      correct_pro_min = #{correctProMin,jdbcType=DECIMAL},
      correct_pro_max = #{correctProMax,jdbcType=DECIMAL},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>