<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.FdStudentWeekReportDetailMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowledge_id" property="knowledgeId" jdbcType="INTEGER" />
    <result column="knowledge_name" property="knowledgeName" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="DECIMAL" />
    <result column="difficulty_json" property="difficultyJson" jdbcType="VARCHAR" />
    <result column="difficulty_total" property="difficultyTotal" jdbcType="INTEGER" />
    <result column="difficulty_numerator" property="difficultyNumerator" jdbcType="INTEGER" />
    <result column="losepoint" property="losepoint" jdbcType="DECIMAL" />
    <result column="losepoint_total" property="losepointTotal" jdbcType="INTEGER" />
    <result column="losepoint_error" property="losepointError" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="student_week_report_id" property="studentWeekReportId" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, knowledge_id, knowledge_name, subject_id, subject_name, difficulty, difficulty_json, 
      difficulty_total, difficulty_numerator, losepoint, losepoint_total, losepoint_error, 
      type, student_week_report_id, is_del, start_date, end_date, update_time, create_time
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetailQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_student_week_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,knowledge_id,knowledge_name,subject_id,subject_name,difficulty,difficulty_json,difficulty_total,difficulty_numerator,losepoint,losepoint_total,losepoint_error,type,student_week_report_id,is_del,start_date,end_date,update_time,create_time
    from fd_student_week_report_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_student_week_report_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetailQuery" >
    delete from fd_student_week_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetail" >
    insert into fd_student_week_report_detail (id, knowledge_id, knowledge_name, 
      subject_id, subject_name, difficulty, 
      difficulty_json, difficulty_total, difficulty_numerator, 
      losepoint, losepoint_total, losepoint_error, 
      type, student_week_report_id, is_del, 
      start_date, end_date, update_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{knowledgeId,jdbcType=INTEGER}, #{knowledgeName,jdbcType=VARCHAR}, 
      #{subjectId,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR}, #{difficulty,jdbcType=DECIMAL}, 
      #{difficultyJson,jdbcType=VARCHAR}, #{difficultyTotal,jdbcType=INTEGER}, #{difficultyNumerator,jdbcType=INTEGER}, 
      #{losepoint,jdbcType=DECIMAL}, #{losepointTotal,jdbcType=INTEGER}, #{losepointError,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{studentWeekReportId,jdbcType=INTEGER}, #{isDel,jdbcType=BIT}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetail" >
    insert into fd_student_week_report_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="knowledgeId != null" >
        knowledge_id,
      </if>
      <if test="knowledgeName != null" >
        knowledge_name,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="difficultyJson != null" >
        difficulty_json,
      </if>
      <if test="difficultyTotal != null" >
        difficulty_total,
      </if>
      <if test="difficultyNumerator != null" >
        difficulty_numerator,
      </if>
      <if test="losepoint != null" >
        losepoint,
      </if>
      <if test="losepointTotal != null" >
        losepoint_total,
      </if>
      <if test="losepointError != null" >
        losepoint_error,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="studentWeekReportId != null" >
        student_week_report_id,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null" >
        #{knowledgeId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeName != null" >
        #{knowledgeName,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=DECIMAL},
      </if>
      <if test="difficultyJson != null" >
        #{difficultyJson,jdbcType=VARCHAR},
      </if>
      <if test="difficultyTotal != null" >
        #{difficultyTotal,jdbcType=INTEGER},
      </if>
      <if test="difficultyNumerator != null" >
        #{difficultyNumerator,jdbcType=INTEGER},
      </if>
      <if test="losepoint != null" >
        #{losepoint,jdbcType=DECIMAL},
      </if>
      <if test="losepointTotal != null" >
        #{losepointTotal,jdbcType=INTEGER},
      </if>
      <if test="losepointError != null" >
        #{losepointError,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="studentWeekReportId != null" >
        #{studentWeekReportId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetailQuery" resultType="java.lang.Integer" >
    select count(*) from fd_student_week_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_student_week_report_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgeId != null" >
        knowledge_id = #{record.knowledgeId,jdbcType=INTEGER},
      </if>
      <if test="record.knowledgeName != null" >
        knowledge_name = #{record.knowledgeName,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectName != null" >
        subject_name = #{record.subjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.difficulty != null" >
        difficulty = #{record.difficulty,jdbcType=DECIMAL},
      </if>
      <if test="record.difficultyJson != null" >
        difficulty_json = #{record.difficultyJson,jdbcType=VARCHAR},
      </if>
      <if test="record.difficultyTotal != null" >
        difficulty_total = #{record.difficultyTotal,jdbcType=INTEGER},
      </if>
      <if test="record.difficultyNumerator != null" >
        difficulty_numerator = #{record.difficultyNumerator,jdbcType=INTEGER},
      </if>
      <if test="record.losepoint != null" >
        losepoint = #{record.losepoint,jdbcType=DECIMAL},
      </if>
      <if test="record.losepointTotal != null" >
        losepoint_total = #{record.losepointTotal,jdbcType=INTEGER},
      </if>
      <if test="record.losepointError != null" >
        losepoint_error = #{record.losepointError,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.studentWeekReportId != null" >
        student_week_report_id = #{record.studentWeekReportId,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=BIT},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_student_week_report_detail
    set id = #{record.id,jdbcType=INTEGER},
      knowledge_id = #{record.knowledgeId,jdbcType=INTEGER},
      knowledge_name = #{record.knowledgeName,jdbcType=VARCHAR},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      subject_name = #{record.subjectName,jdbcType=VARCHAR},
      difficulty = #{record.difficulty,jdbcType=DECIMAL},
      difficulty_json = #{record.difficultyJson,jdbcType=VARCHAR},
      difficulty_total = #{record.difficultyTotal,jdbcType=INTEGER},
      difficulty_numerator = #{record.difficultyNumerator,jdbcType=INTEGER},
      losepoint = #{record.losepoint,jdbcType=DECIMAL},
      losepoint_total = #{record.losepointTotal,jdbcType=INTEGER},
      losepoint_error = #{record.losepointError,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      student_week_report_id = #{record.studentWeekReportId,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=BIT},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetail" >
    update fd_student_week_report_detail
    <set >
      <if test="knowledgeId != null" >
        knowledge_id = #{knowledgeId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeName != null" >
        knowledge_name = #{knowledgeName,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=DECIMAL},
      </if>
      <if test="difficultyJson != null" >
        difficulty_json = #{difficultyJson,jdbcType=VARCHAR},
      </if>
      <if test="difficultyTotal != null" >
        difficulty_total = #{difficultyTotal,jdbcType=INTEGER},
      </if>
      <if test="difficultyNumerator != null" >
        difficulty_numerator = #{difficultyNumerator,jdbcType=INTEGER},
      </if>
      <if test="losepoint != null" >
        losepoint = #{losepoint,jdbcType=DECIMAL},
      </if>
      <if test="losepointTotal != null" >
        losepoint_total = #{losepointTotal,jdbcType=INTEGER},
      </if>
      <if test="losepointError != null" >
        losepoint_error = #{losepointError,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="studentWeekReportId != null" >
        student_week_report_id = #{studentWeekReportId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.FdStudentWeekReportDetail" >
    update fd_student_week_report_detail
    set knowledge_id = #{knowledgeId,jdbcType=INTEGER},
      knowledge_name = #{knowledgeName,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=INTEGER},
      subject_name = #{subjectName,jdbcType=VARCHAR},
      difficulty = #{difficulty,jdbcType=DECIMAL},
      difficulty_json = #{difficultyJson,jdbcType=VARCHAR},
      difficulty_total = #{difficultyTotal,jdbcType=INTEGER},
      difficulty_numerator = #{difficultyNumerator,jdbcType=INTEGER},
      losepoint = #{losepoint,jdbcType=DECIMAL},
      losepoint_total = #{losepointTotal,jdbcType=INTEGER},
      losepoint_error = #{losepointError,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      student_week_report_id = #{studentWeekReportId,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=BIT},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>