<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.FdStudentDayConditionMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.FdStudentDayCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="classes_id" property="classesId" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="search_num" property="searchNum" jdbcType="INTEGER" />
    <result column="correct_num" property="correctNum" jdbcType="INTEGER" />
    <result column="correct_pro" property="correctPro" jdbcType="DECIMAL" />
    <result column="correct_right_pro" property="correctRightPro" jdbcType="DECIMAL" />
    <result column="student_comment_id" property="studentCommentId" jdbcType="INTEGER" />
    <result column="student_comment" property="studentComment" jdbcType="VARCHAR" />
    <result column="practice_total_num" property="practiceTotalNum" jdbcType="INTEGER" />
    <result column="practice_finish_num" property="practiceFinishNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, subject_id, school_id, grade_id, classes_id, year, date, search_num, correct_num, 
      correct_pro, correct_right_pro, student_comment_id, student_comment, practice_total_num, 
      practice_finish_num, create_time
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayConditionQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_student_day_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,subject_id,school_id,grade_id,classes_id,year,date,search_num,correct_num,correct_pro,correct_right_pro,student_comment_id,student_comment,practice_total_num,practice_finish_num,create_time
    from fd_student_day_condition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_student_day_condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayConditionQuery" >
    delete from fd_student_day_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayCondition" >
    insert into fd_student_day_condition (id, subject_id, school_id, 
      grade_id, classes_id, year, 
      date, search_num, correct_num, 
      correct_pro, correct_right_pro, student_comment_id, 
      student_comment, practice_total_num, practice_finish_num, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, 
      #{gradeId,jdbcType=INTEGER}, #{classesId,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, 
      #{date,jdbcType=DATE}, #{searchNum,jdbcType=INTEGER}, #{correctNum,jdbcType=INTEGER}, 
      #{correctPro,jdbcType=DECIMAL}, #{correctRightPro,jdbcType=DECIMAL}, #{studentCommentId,jdbcType=INTEGER}, 
      #{studentComment,jdbcType=VARCHAR}, #{practiceTotalNum,jdbcType=INTEGER}, #{practiceFinishNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayCondition" >
    insert into fd_student_day_condition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="classesId != null" >
        classes_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="searchNum != null" >
        search_num,
      </if>
      <if test="correctNum != null" >
        correct_num,
      </if>
      <if test="correctPro != null" >
        correct_pro,
      </if>
      <if test="correctRightPro != null" >
        correct_right_pro,
      </if>
      <if test="studentCommentId != null" >
        student_comment_id,
      </if>
      <if test="studentComment != null" >
        student_comment,
      </if>
      <if test="practiceTotalNum != null" >
        practice_total_num,
      </if>
      <if test="practiceFinishNum != null" >
        practice_finish_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        #{classesId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=CHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="searchNum != null" >
        #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="correctNum != null" >
        #{correctNum,jdbcType=INTEGER},
      </if>
      <if test="correctPro != null" >
        #{correctPro,jdbcType=DECIMAL},
      </if>
      <if test="correctRightPro != null" >
        #{correctRightPro,jdbcType=DECIMAL},
      </if>
      <if test="studentCommentId != null" >
        #{studentCommentId,jdbcType=INTEGER},
      </if>
      <if test="studentComment != null" >
        #{studentComment,jdbcType=VARCHAR},
      </if>
      <if test="practiceTotalNum != null" >
        #{practiceTotalNum,jdbcType=INTEGER},
      </if>
      <if test="practiceFinishNum != null" >
        #{practiceFinishNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayConditionQuery" resultType="java.lang.Integer" >
    select count(*) from fd_student_day_condition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_student_day_condition
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.classesId != null" >
        classes_id = #{record.classesId,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=CHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.searchNum != null" >
        search_num = #{record.searchNum,jdbcType=INTEGER},
      </if>
      <if test="record.correctNum != null" >
        correct_num = #{record.correctNum,jdbcType=INTEGER},
      </if>
      <if test="record.correctPro != null" >
        correct_pro = #{record.correctPro,jdbcType=DECIMAL},
      </if>
      <if test="record.correctRightPro != null" >
        correct_right_pro = #{record.correctRightPro,jdbcType=DECIMAL},
      </if>
      <if test="record.studentCommentId != null" >
        student_comment_id = #{record.studentCommentId,jdbcType=INTEGER},
      </if>
      <if test="record.studentComment != null" >
        student_comment = #{record.studentComment,jdbcType=VARCHAR},
      </if>
      <if test="record.practiceTotalNum != null" >
        practice_total_num = #{record.practiceTotalNum,jdbcType=INTEGER},
      </if>
      <if test="record.practiceFinishNum != null" >
        practice_finish_num = #{record.practiceFinishNum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_student_day_condition
    set id = #{record.id,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      classes_id = #{record.classesId,jdbcType=INTEGER},
      year = #{record.year,jdbcType=CHAR},
      date = #{record.date,jdbcType=DATE},
      search_num = #{record.searchNum,jdbcType=INTEGER},
      correct_num = #{record.correctNum,jdbcType=INTEGER},
      correct_pro = #{record.correctPro,jdbcType=DECIMAL},
      correct_right_pro = #{record.correctRightPro,jdbcType=DECIMAL},
      student_comment_id = #{record.studentCommentId,jdbcType=INTEGER},
      student_comment = #{record.studentComment,jdbcType=VARCHAR},
      practice_total_num = #{record.practiceTotalNum,jdbcType=INTEGER},
      practice_finish_num = #{record.practiceFinishNum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayCondition" >
    update fd_student_day_condition
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        classes_id = #{classesId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="searchNum != null" >
        search_num = #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="correctNum != null" >
        correct_num = #{correctNum,jdbcType=INTEGER},
      </if>
      <if test="correctPro != null" >
        correct_pro = #{correctPro,jdbcType=DECIMAL},
      </if>
      <if test="correctRightPro != null" >
        correct_right_pro = #{correctRightPro,jdbcType=DECIMAL},
      </if>
      <if test="studentCommentId != null" >
        student_comment_id = #{studentCommentId,jdbcType=INTEGER},
      </if>
      <if test="studentComment != null" >
        student_comment = #{studentComment,jdbcType=VARCHAR},
      </if>
      <if test="practiceTotalNum != null" >
        practice_total_num = #{practiceTotalNum,jdbcType=INTEGER},
      </if>
      <if test="practiceFinishNum != null" >
        practice_finish_num = #{practiceFinishNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.FdStudentDayCondition" >
    update fd_student_day_condition
    set subject_id = #{subjectId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      classes_id = #{classesId,jdbcType=INTEGER},
      year = #{year,jdbcType=CHAR},
      date = #{date,jdbcType=DATE},
      search_num = #{searchNum,jdbcType=INTEGER},
      correct_num = #{correctNum,jdbcType=INTEGER},
      correct_pro = #{correctPro,jdbcType=DECIMAL},
      correct_right_pro = #{correctRightPro,jdbcType=DECIMAL},
      student_comment_id = #{studentCommentId,jdbcType=INTEGER},
      student_comment = #{studentComment,jdbcType=VARCHAR},
      practice_total_num = #{practiceTotalNum,jdbcType=INTEGER},
      practice_finish_num = #{practiceFinishNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>