<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isprint.jslx.lccfd.dao.FdTeacherDayReportMapper" >
  <resultMap id="BaseResultMap" type="com.isprint.jslx.lccfd.model.FdTeacherDayReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="classes_id" property="classesId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="student_num" property="studentNum" jdbcType="INTEGER" />
    <result column="paiti_avg" property="paitiAvg" jdbcType="INTEGER" />
    <result column="paiti_rank" property="paitiRank" jdbcType="INTEGER" />
    <result column="pati_compare" property="patiCompare" jdbcType="VARCHAR" />
    <result column="pati_top_10" property="patiTop10" jdbcType="VARCHAR" />
    <result column="pati_last_10" property="patiLast10" jdbcType="VARCHAR" />
    <result column="correct_rate" property="correctRate" jdbcType="DECIMAL" />
    <result column="correct_compare" property="correctCompare" jdbcType="VARCHAR" />
    <result column="correct_rete_rank" property="correctReteRank" jdbcType="INTEGER" />
    <result column="correct_top_10" property="correctTop10" jdbcType="VARCHAR" />
    <result column="correct_last_10" property="correctLast10" jdbcType="VARCHAR" />
    <result column="class_diacrisis" property="classDiacrisis" jdbcType="VARCHAR" />
    <result column="class_warning" property="classWarning" jdbcType="VARCHAR" />
    <result column="timu_id_score" property="timuIdScore" jdbcType="INTEGER" />
    <result column="timu_id" property="timuId" jdbcType="VARCHAR" />
    <result column="teacher_exampaper_commit_count" property="teacherExampaperCommitCount" jdbcType="INTEGER" />
    <result column="avg_exampaper_score" property="avgExampaperScore" jdbcType="DECIMAL" />
    <result column="exampaper_full_score" property="exampaperFullScore" jdbcType="DECIMAL" />
    <result column="teacher_paper_object_count" property="teacherPaperObjectCount" jdbcType="INTEGER" />
    <result column="top_1_student_name" property="top1StudentName" jdbcType="VARCHAR" />
    <result column="top_1_student_score" property="top1StudentScore" jdbcType="DECIMAL" />
    <result column="class_paper_diacrisis" property="classPaperDiacrisis" jdbcType="VARCHAR" />
    <result column="student_prictise_count" property="studentPrictiseCount" jdbcType="INTEGER" />
    <result column="student_prictise_commit_count" property="studentPrictiseCommitCount" jdbcType="INTEGER" />
    <result column="student_practise_not_done_names" property="studentPractiseNotDoneNames" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="classPaitiCount" property="classpaiticount" jdbcType="INTEGER" />
    <result column="exampaperId" property="exampaperid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, school_id, classes_id, subject_id, date, student_num, paiti_avg, paiti_rank, 
      pati_compare, pati_top_10, pati_last_10, correct_rate, correct_compare, correct_rete_rank, 
      correct_top_10, correct_last_10, class_diacrisis, class_warning, timu_id_score, timu_id, 
      teacher_exampaper_commit_count, avg_exampaper_score, exampaper_full_score, teacher_paper_object_count, 
      top_1_student_name, top_1_student_score, class_paper_diacrisis, student_prictise_count, 
      student_prictise_commit_count, student_practise_not_done_names, create_time, classPaitiCount, 
      exampaperId
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReportQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fd_teacher_day_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,school_id,classes_id,subject_id,date,student_num,paiti_avg,paiti_rank,pati_compare,pati_top_10,pati_last_10,correct_rate,correct_compare,correct_rete_rank,correct_top_10,correct_last_10,class_diacrisis,class_warning,timu_id_score,timu_id,teacher_exampaper_commit_count,avg_exampaper_score,exampaper_full_score,teacher_paper_object_count,top_1_student_name,top_1_student_score,class_paper_diacrisis,student_prictise_count,student_prictise_commit_count,student_practise_not_done_names,create_time,classPaitiCount,exampaperId
    from fd_teacher_day_report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fd_teacher_day_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReportQuery" >
    delete from fd_teacher_day_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReport" >
    insert into fd_teacher_day_report (id, school_id, classes_id, 
      subject_id, date, student_num, 
      paiti_avg, paiti_rank, pati_compare, 
      pati_top_10, pati_last_10, correct_rate, 
      correct_compare, correct_rete_rank, correct_top_10, 
      correct_last_10, class_diacrisis, class_warning, 
      timu_id_score, timu_id, teacher_exampaper_commit_count, 
      avg_exampaper_score, exampaper_full_score, 
      teacher_paper_object_count, top_1_student_name, 
      top_1_student_score, class_paper_diacrisis, 
      student_prictise_count, student_prictise_commit_count, 
      student_practise_not_done_names, create_time, 
      classPaitiCount, exampaperId)
    values (#{id,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{classesId,jdbcType=INTEGER}, 
      #{subjectId,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{studentNum,jdbcType=INTEGER}, 
      #{paitiAvg,jdbcType=INTEGER}, #{paitiRank,jdbcType=INTEGER}, #{patiCompare,jdbcType=VARCHAR}, 
      #{patiTop10,jdbcType=VARCHAR}, #{patiLast10,jdbcType=VARCHAR}, #{correctRate,jdbcType=DECIMAL}, 
      #{correctCompare,jdbcType=VARCHAR}, #{correctReteRank,jdbcType=INTEGER}, #{correctTop10,jdbcType=VARCHAR}, 
      #{correctLast10,jdbcType=VARCHAR}, #{classDiacrisis,jdbcType=VARCHAR}, #{classWarning,jdbcType=VARCHAR}, 
      #{timuIdScore,jdbcType=INTEGER}, #{timuId,jdbcType=VARCHAR}, #{teacherExampaperCommitCount,jdbcType=INTEGER}, 
      #{avgExampaperScore,jdbcType=DECIMAL}, #{exampaperFullScore,jdbcType=DECIMAL}, 
      #{teacherPaperObjectCount,jdbcType=INTEGER}, #{top1StudentName,jdbcType=VARCHAR}, 
      #{top1StudentScore,jdbcType=DECIMAL}, #{classPaperDiacrisis,jdbcType=VARCHAR}, 
      #{studentPrictiseCount,jdbcType=INTEGER}, #{studentPrictiseCommitCount,jdbcType=INTEGER}, 
      #{studentPractiseNotDoneNames,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{classpaiticount,jdbcType=INTEGER}, #{exampaperid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReport" >
    insert into fd_teacher_day_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="classesId != null" >
        classes_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="studentNum != null" >
        student_num,
      </if>
      <if test="paitiAvg != null" >
        paiti_avg,
      </if>
      <if test="paitiRank != null" >
        paiti_rank,
      </if>
      <if test="patiCompare != null" >
        pati_compare,
      </if>
      <if test="patiTop10 != null" >
        pati_top_10,
      </if>
      <if test="patiLast10 != null" >
        pati_last_10,
      </if>
      <if test="correctRate != null" >
        correct_rate,
      </if>
      <if test="correctCompare != null" >
        correct_compare,
      </if>
      <if test="correctReteRank != null" >
        correct_rete_rank,
      </if>
      <if test="correctTop10 != null" >
        correct_top_10,
      </if>
      <if test="correctLast10 != null" >
        correct_last_10,
      </if>
      <if test="classDiacrisis != null" >
        class_diacrisis,
      </if>
      <if test="classWarning != null" >
        class_warning,
      </if>
      <if test="timuIdScore != null" >
        timu_id_score,
      </if>
      <if test="timuId != null" >
        timu_id,
      </if>
      <if test="teacherExampaperCommitCount != null" >
        teacher_exampaper_commit_count,
      </if>
      <if test="avgExampaperScore != null" >
        avg_exampaper_score,
      </if>
      <if test="exampaperFullScore != null" >
        exampaper_full_score,
      </if>
      <if test="teacherPaperObjectCount != null" >
        teacher_paper_object_count,
      </if>
      <if test="top1StudentName != null" >
        top_1_student_name,
      </if>
      <if test="top1StudentScore != null" >
        top_1_student_score,
      </if>
      <if test="classPaperDiacrisis != null" >
        class_paper_diacrisis,
      </if>
      <if test="studentPrictiseCount != null" >
        student_prictise_count,
      </if>
      <if test="studentPrictiseCommitCount != null" >
        student_prictise_commit_count,
      </if>
      <if test="studentPractiseNotDoneNames != null" >
        student_practise_not_done_names,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="classpaiticount != null" >
        classPaitiCount,
      </if>
      <if test="exampaperid != null" >
        exampaperId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        #{classesId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="studentNum != null" >
        #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="paitiAvg != null" >
        #{paitiAvg,jdbcType=INTEGER},
      </if>
      <if test="paitiRank != null" >
        #{paitiRank,jdbcType=INTEGER},
      </if>
      <if test="patiCompare != null" >
        #{patiCompare,jdbcType=VARCHAR},
      </if>
      <if test="patiTop10 != null" >
        #{patiTop10,jdbcType=VARCHAR},
      </if>
      <if test="patiLast10 != null" >
        #{patiLast10,jdbcType=VARCHAR},
      </if>
      <if test="correctRate != null" >
        #{correctRate,jdbcType=DECIMAL},
      </if>
      <if test="correctCompare != null" >
        #{correctCompare,jdbcType=VARCHAR},
      </if>
      <if test="correctReteRank != null" >
        #{correctReteRank,jdbcType=INTEGER},
      </if>
      <if test="correctTop10 != null" >
        #{correctTop10,jdbcType=VARCHAR},
      </if>
      <if test="correctLast10 != null" >
        #{correctLast10,jdbcType=VARCHAR},
      </if>
      <if test="classDiacrisis != null" >
        #{classDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="classWarning != null" >
        #{classWarning,jdbcType=VARCHAR},
      </if>
      <if test="timuIdScore != null" >
        #{timuIdScore,jdbcType=INTEGER},
      </if>
      <if test="timuId != null" >
        #{timuId,jdbcType=VARCHAR},
      </if>
      <if test="teacherExampaperCommitCount != null" >
        #{teacherExampaperCommitCount,jdbcType=INTEGER},
      </if>
      <if test="avgExampaperScore != null" >
        #{avgExampaperScore,jdbcType=DECIMAL},
      </if>
      <if test="exampaperFullScore != null" >
        #{exampaperFullScore,jdbcType=DECIMAL},
      </if>
      <if test="teacherPaperObjectCount != null" >
        #{teacherPaperObjectCount,jdbcType=INTEGER},
      </if>
      <if test="top1StudentName != null" >
        #{top1StudentName,jdbcType=VARCHAR},
      </if>
      <if test="top1StudentScore != null" >
        #{top1StudentScore,jdbcType=DECIMAL},
      </if>
      <if test="classPaperDiacrisis != null" >
        #{classPaperDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="studentPrictiseCount != null" >
        #{studentPrictiseCount,jdbcType=INTEGER},
      </if>
      <if test="studentPrictiseCommitCount != null" >
        #{studentPrictiseCommitCount,jdbcType=INTEGER},
      </if>
      <if test="studentPractiseNotDoneNames != null" >
        #{studentPractiseNotDoneNames,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classpaiticount != null" >
        #{classpaiticount,jdbcType=INTEGER},
      </if>
      <if test="exampaperid != null" >
        #{exampaperid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReportQuery" resultType="java.lang.Integer" >
    select count(*) from fd_teacher_day_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fd_teacher_day_report
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.classesId != null" >
        classes_id = #{record.classesId,jdbcType=INTEGER},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.studentNum != null" >
        student_num = #{record.studentNum,jdbcType=INTEGER},
      </if>
      <if test="record.paitiAvg != null" >
        paiti_avg = #{record.paitiAvg,jdbcType=INTEGER},
      </if>
      <if test="record.paitiRank != null" >
        paiti_rank = #{record.paitiRank,jdbcType=INTEGER},
      </if>
      <if test="record.patiCompare != null" >
        pati_compare = #{record.patiCompare,jdbcType=VARCHAR},
      </if>
      <if test="record.patiTop10 != null" >
        pati_top_10 = #{record.patiTop10,jdbcType=VARCHAR},
      </if>
      <if test="record.patiLast10 != null" >
        pati_last_10 = #{record.patiLast10,jdbcType=VARCHAR},
      </if>
      <if test="record.correctRate != null" >
        correct_rate = #{record.correctRate,jdbcType=DECIMAL},
      </if>
      <if test="record.correctCompare != null" >
        correct_compare = #{record.correctCompare,jdbcType=VARCHAR},
      </if>
      <if test="record.correctReteRank != null" >
        correct_rete_rank = #{record.correctReteRank,jdbcType=INTEGER},
      </if>
      <if test="record.correctTop10 != null" >
        correct_top_10 = #{record.correctTop10,jdbcType=VARCHAR},
      </if>
      <if test="record.correctLast10 != null" >
        correct_last_10 = #{record.correctLast10,jdbcType=VARCHAR},
      </if>
      <if test="record.classDiacrisis != null" >
        class_diacrisis = #{record.classDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="record.classWarning != null" >
        class_warning = #{record.classWarning,jdbcType=VARCHAR},
      </if>
      <if test="record.timuIdScore != null" >
        timu_id_score = #{record.timuIdScore,jdbcType=INTEGER},
      </if>
      <if test="record.timuId != null" >
        timu_id = #{record.timuId,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherExampaperCommitCount != null" >
        teacher_exampaper_commit_count = #{record.teacherExampaperCommitCount,jdbcType=INTEGER},
      </if>
      <if test="record.avgExampaperScore != null" >
        avg_exampaper_score = #{record.avgExampaperScore,jdbcType=DECIMAL},
      </if>
      <if test="record.exampaperFullScore != null" >
        exampaper_full_score = #{record.exampaperFullScore,jdbcType=DECIMAL},
      </if>
      <if test="record.teacherPaperObjectCount != null" >
        teacher_paper_object_count = #{record.teacherPaperObjectCount,jdbcType=INTEGER},
      </if>
      <if test="record.top1StudentName != null" >
        top_1_student_name = #{record.top1StudentName,jdbcType=VARCHAR},
      </if>
      <if test="record.top1StudentScore != null" >
        top_1_student_score = #{record.top1StudentScore,jdbcType=DECIMAL},
      </if>
      <if test="record.classPaperDiacrisis != null" >
        class_paper_diacrisis = #{record.classPaperDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="record.studentPrictiseCount != null" >
        student_prictise_count = #{record.studentPrictiseCount,jdbcType=INTEGER},
      </if>
      <if test="record.studentPrictiseCommitCount != null" >
        student_prictise_commit_count = #{record.studentPrictiseCommitCount,jdbcType=INTEGER},
      </if>
      <if test="record.studentPractiseNotDoneNames != null" >
        student_practise_not_done_names = #{record.studentPractiseNotDoneNames,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classpaiticount != null" >
        classPaitiCount = #{record.classpaiticount,jdbcType=INTEGER},
      </if>
      <if test="record.exampaperid != null" >
        exampaperId = #{record.exampaperid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fd_teacher_day_report
    set id = #{record.id,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      classes_id = #{record.classesId,jdbcType=INTEGER},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      date = #{record.date,jdbcType=DATE},
      student_num = #{record.studentNum,jdbcType=INTEGER},
      paiti_avg = #{record.paitiAvg,jdbcType=INTEGER},
      paiti_rank = #{record.paitiRank,jdbcType=INTEGER},
      pati_compare = #{record.patiCompare,jdbcType=VARCHAR},
      pati_top_10 = #{record.patiTop10,jdbcType=VARCHAR},
      pati_last_10 = #{record.patiLast10,jdbcType=VARCHAR},
      correct_rate = #{record.correctRate,jdbcType=DECIMAL},
      correct_compare = #{record.correctCompare,jdbcType=VARCHAR},
      correct_rete_rank = #{record.correctReteRank,jdbcType=INTEGER},
      correct_top_10 = #{record.correctTop10,jdbcType=VARCHAR},
      correct_last_10 = #{record.correctLast10,jdbcType=VARCHAR},
      class_diacrisis = #{record.classDiacrisis,jdbcType=VARCHAR},
      class_warning = #{record.classWarning,jdbcType=VARCHAR},
      timu_id_score = #{record.timuIdScore,jdbcType=INTEGER},
      timu_id = #{record.timuId,jdbcType=VARCHAR},
      teacher_exampaper_commit_count = #{record.teacherExampaperCommitCount,jdbcType=INTEGER},
      avg_exampaper_score = #{record.avgExampaperScore,jdbcType=DECIMAL},
      exampaper_full_score = #{record.exampaperFullScore,jdbcType=DECIMAL},
      teacher_paper_object_count = #{record.teacherPaperObjectCount,jdbcType=INTEGER},
      top_1_student_name = #{record.top1StudentName,jdbcType=VARCHAR},
      top_1_student_score = #{record.top1StudentScore,jdbcType=DECIMAL},
      class_paper_diacrisis = #{record.classPaperDiacrisis,jdbcType=VARCHAR},
      student_prictise_count = #{record.studentPrictiseCount,jdbcType=INTEGER},
      student_prictise_commit_count = #{record.studentPrictiseCommitCount,jdbcType=INTEGER},
      student_practise_not_done_names = #{record.studentPractiseNotDoneNames,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      classPaitiCount = #{record.classpaiticount,jdbcType=INTEGER},
      exampaperId = #{record.exampaperid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReport" >
    update fd_teacher_day_report
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="classesId != null" >
        classes_id = #{classesId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="studentNum != null" >
        student_num = #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="paitiAvg != null" >
        paiti_avg = #{paitiAvg,jdbcType=INTEGER},
      </if>
      <if test="paitiRank != null" >
        paiti_rank = #{paitiRank,jdbcType=INTEGER},
      </if>
      <if test="patiCompare != null" >
        pati_compare = #{patiCompare,jdbcType=VARCHAR},
      </if>
      <if test="patiTop10 != null" >
        pati_top_10 = #{patiTop10,jdbcType=VARCHAR},
      </if>
      <if test="patiLast10 != null" >
        pati_last_10 = #{patiLast10,jdbcType=VARCHAR},
      </if>
      <if test="correctRate != null" >
        correct_rate = #{correctRate,jdbcType=DECIMAL},
      </if>
      <if test="correctCompare != null" >
        correct_compare = #{correctCompare,jdbcType=VARCHAR},
      </if>
      <if test="correctReteRank != null" >
        correct_rete_rank = #{correctReteRank,jdbcType=INTEGER},
      </if>
      <if test="correctTop10 != null" >
        correct_top_10 = #{correctTop10,jdbcType=VARCHAR},
      </if>
      <if test="correctLast10 != null" >
        correct_last_10 = #{correctLast10,jdbcType=VARCHAR},
      </if>
      <if test="classDiacrisis != null" >
        class_diacrisis = #{classDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="classWarning != null" >
        class_warning = #{classWarning,jdbcType=VARCHAR},
      </if>
      <if test="timuIdScore != null" >
        timu_id_score = #{timuIdScore,jdbcType=INTEGER},
      </if>
      <if test="timuId != null" >
        timu_id = #{timuId,jdbcType=VARCHAR},
      </if>
      <if test="teacherExampaperCommitCount != null" >
        teacher_exampaper_commit_count = #{teacherExampaperCommitCount,jdbcType=INTEGER},
      </if>
      <if test="avgExampaperScore != null" >
        avg_exampaper_score = #{avgExampaperScore,jdbcType=DECIMAL},
      </if>
      <if test="exampaperFullScore != null" >
        exampaper_full_score = #{exampaperFullScore,jdbcType=DECIMAL},
      </if>
      <if test="teacherPaperObjectCount != null" >
        teacher_paper_object_count = #{teacherPaperObjectCount,jdbcType=INTEGER},
      </if>
      <if test="top1StudentName != null" >
        top_1_student_name = #{top1StudentName,jdbcType=VARCHAR},
      </if>
      <if test="top1StudentScore != null" >
        top_1_student_score = #{top1StudentScore,jdbcType=DECIMAL},
      </if>
      <if test="classPaperDiacrisis != null" >
        class_paper_diacrisis = #{classPaperDiacrisis,jdbcType=VARCHAR},
      </if>
      <if test="studentPrictiseCount != null" >
        student_prictise_count = #{studentPrictiseCount,jdbcType=INTEGER},
      </if>
      <if test="studentPrictiseCommitCount != null" >
        student_prictise_commit_count = #{studentPrictiseCommitCount,jdbcType=INTEGER},
      </if>
      <if test="studentPractiseNotDoneNames != null" >
        student_practise_not_done_names = #{studentPractiseNotDoneNames,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classpaiticount != null" >
        classPaitiCount = #{classpaiticount,jdbcType=INTEGER},
      </if>
      <if test="exampaperid != null" >
        exampaperId = #{exampaperid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isprint.jslx.lccfd.model.FdTeacherDayReport" >
    update fd_teacher_day_report
    set school_id = #{schoolId,jdbcType=INTEGER},
      classes_id = #{classesId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      student_num = #{studentNum,jdbcType=INTEGER},
      paiti_avg = #{paitiAvg,jdbcType=INTEGER},
      paiti_rank = #{paitiRank,jdbcType=INTEGER},
      pati_compare = #{patiCompare,jdbcType=VARCHAR},
      pati_top_10 = #{patiTop10,jdbcType=VARCHAR},
      pati_last_10 = #{patiLast10,jdbcType=VARCHAR},
      correct_rate = #{correctRate,jdbcType=DECIMAL},
      correct_compare = #{correctCompare,jdbcType=VARCHAR},
      correct_rete_rank = #{correctReteRank,jdbcType=INTEGER},
      correct_top_10 = #{correctTop10,jdbcType=VARCHAR},
      correct_last_10 = #{correctLast10,jdbcType=VARCHAR},
      class_diacrisis = #{classDiacrisis,jdbcType=VARCHAR},
      class_warning = #{classWarning,jdbcType=VARCHAR},
      timu_id_score = #{timuIdScore,jdbcType=INTEGER},
      timu_id = #{timuId,jdbcType=VARCHAR},
      teacher_exampaper_commit_count = #{teacherExampaperCommitCount,jdbcType=INTEGER},
      avg_exampaper_score = #{avgExampaperScore,jdbcType=DECIMAL},
      exampaper_full_score = #{exampaperFullScore,jdbcType=DECIMAL},
      teacher_paper_object_count = #{teacherPaperObjectCount,jdbcType=INTEGER},
      top_1_student_name = #{top1StudentName,jdbcType=VARCHAR},
      top_1_student_score = #{top1StudentScore,jdbcType=DECIMAL},
      class_paper_diacrisis = #{classPaperDiacrisis,jdbcType=VARCHAR},
      student_prictise_count = #{studentPrictiseCount,jdbcType=INTEGER},
      student_prictise_commit_count = #{studentPrictiseCommitCount,jdbcType=INTEGER},
      student_practise_not_done_names = #{studentPractiseNotDoneNames,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      classPaitiCount = #{classpaiticount,jdbcType=INTEGER},
      exampaperId = #{exampaperid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>